ion-item{
    /*margin: 1rem;*/
    border: 1px solid gray;
    border-radius: 10px;
    --background: #efefef;

}
ion-content{
    --background: linear-gradient(#ffffff3b, #ffffffd6);
    background-color: #add8e6d1;
}
.largeitem{
    height: 70px;
    --background: white;
}
.headeritem{
    --background: cornflowerblue;
}
.qte{
    width: 5.8rem;
}
.ref{
    width: 9rem;
    margin-top: 0.5rem;
}
.prix{
    width: 9rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
}
.ddes{
    width: 34rem;

}
.des{
    font-weight: 600;
    margin-top: 1.3rem;
    color: darkslateblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ion-select{
    border: 1px solid gray;
    border-radius: 10px;
    background: lightgrey;
    height: 45px;
}
.validation-errors{
    color:red;
}